

spring:
  application:
    name: menu-app

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: debezium-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

    topic: dbserver1.inventory.customers

  datasource:
    url: jdbc:mysql://localhost:3306/inventory
    username: mysqluser
    password: mysqlpw

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

    properties:
      hibernate:
        cache:
          use_second_level_cache: true
          use_query_cache: true
          region:
            factory_class: org.redisson.hibernate.RedissonRegionFactory
          redisson:
            config: redisson.yaml
            category_cache:
              eviction:
                max_entries: 3
              expiration:
                time_to_live: 60000
        dialect: org.hibernate.dialect.MySQLDialect


  #  liquibase:
#    change-log: classpath:db/changelog/db.changelog-master.xml
#    enabled: true


  web:
    resources:
      static-locations: ./uploads/files

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  data:
    redis:
      host: localhost
      port: 6379
      database: 0

file:
  location: ./uploads/files

server:
  port: 8080
  servlet:
    context-path: /api
springdoc:
  show-actuator: true

management:
  endpoints:
    web:
      exposure:
        include: "*"

  endpoint:
    prometheus:
      access: unrestricted

  metrics:
    export:
      prometheus:
        enabled: true
