

spring:
  application:
    name: menu-app

  session:
    timeout: 1800s


  datasource:
    url: jdbc:postgresql://localhost:5432/smart_menu
    username: postgres
    password: root

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        cache:
          use_second_level_cache: true
          use_query_cache: true
          region:
            factory_class: org.redisson.hibernate.RedissonRegionFactory
          redisson:
            config: redisson.yaml
            category_cache:
              eviction:
                max_entries: 3
              expiration:
                time_to_live: 60000


  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
    enabled: true


  web:
    resources:
      static-locations: ./uploads/files

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  data:
    redis:
      host: localhost
      port: 6379
      database: 0

file:
  location: ./uploads/files

server:
  port: 8080
  servlet:
    context-path: /api
springdoc:
  show-actuator: true

management:
  endpoints:
    web:
      exposure:
        include: "*"

  endpoint:
    prometheus:
      access: unrestricted

  metrics:
    export:
      prometheus:
        enabled: true

logging:
  level:
    org.springframework.web.socket: DEBUG
    org.springframework.messaging.simp: DEBUG
    org.springframework.web.socket.messaging: DEBUG
    org.springframework.web.socket.sockjs: DEBUG


