spring:
  config:
    activate:
      on-profile: docker

  datasource:
    url: jdbc:postgresql://postgres:5432/smart_menu
    username: postgres
    password: root

  jpa:
    properties:
      hibernate:
        cache:
          redisson:
            config: redisson-docker.yaml
