name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    env:
      REGISTRY: https://hub.docker.com/repository/docker/kalukulu/sm-app/general
      IMAGE_NAME: sm

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: menu-app
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_DB: smart_menu
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: root
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      redis:
        image: redis
        ports:
          - 6379:6379
    steps:
    - name: Checkout to Git
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Wait for services
      run: |
        echo " Redis available on : ${{ job.services.redis.ports['6379'] }}"

    - name: Build with Gradle Wrapper
      run: ./gradlew clean build

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Extract meta data (tags, labels for Docker)
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: $ {{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

    - name: Build and push Docker image
      id: push
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
